<template name="createGame">

    <h2>Start A New Game</h2>
    <h3>Enter info to start a new game:</h3>
    <div>
      <form class="main form page">
        <div class="form-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
              <input name="name" id="name" type="text" value="" placeholder="Your name" class="form-control"/>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="gameName">Game Name</label>
          <div class="controls">
              <input name="gameName" id="gameName" type="text" value="" placeholder="Name your game" class="form-control"/>
          </div>
        </div>
        <input type="submit" value="Start Game" class="btn btn-success"/>
      </form>
    </div>

</template>
