<template name="gameLostPage">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Top Trumps Europe</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Sorry {{playerName}} you've lost all your countries so you're out of the game.</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Hope you learned something about the EU and please come back and play again.</h3>
    </div>
  </div>

</template>
