<template name="gameWonPage">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Top Trumps Europe</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Congratulations {{playerName}} you've won!!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Hope you learned something about the EU while you were kicking ass! Please come back and play again.</h3>
    </div>
  </div>

</template>
