<template name="gameFrontPage">

  <div class="col-md-6">

      {{#if isGameStarted}}


        {{#if isYourTurn}}
          {{#with this}}
          {{> yourTurn}}
          {{/with}}
        {{else}}
          {{> notYourTurn}}
        {{/if}}


        {{#with playerCountry}}
          {{> countryStats}}
        {{/with}}

        {{#if isYourTurn}}
          {{#with this}}
            {{> modal}}
          {{/with}}
        {{/if}}

      {{else}}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">{{name}}</h1>
          </div>

          <div class="panel-body">
            {{#if isOwner}}
              {{#if readyToPlay}}
                <h3>You have enough players so get to it!</h3>
                <input id="startGame" type="submit" value="Start Game" class="btn btn-success"/>
              {{else}}
                <h3>Waiting for some other players to join...</h3>
              {{/if}}
            {{else}}
              <h3>Be patient, we're waiting for {{owner.username}} to start the game...</h3>
              <a href="{{pathFor 'frontPage'}}" class="btn btn-danger">End Game</a>
            {{/if}}
          </div>
        </div>

      {{/if}}
  </div>

  <div class="col-md-6">
    {{#with this}}
      {{> log}}
    {{/with}}
  </div>


</template>
