

.country {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  padding: .5em 0;
  position: relative;
  overflow: hidden;
  transition: background 300ms ease-out;
  border-left: 4px solid white;
  vertical-align: middle;
}

.country.selected {
  background-color: #01DF01;
}

h5 {
  padding-left: 5px;
}

.question{
  padding-left: 5px;
  padding-top: 5px;
}

.about{
  padding-left: 5px;
  padding-top: 5px;
}

.aboutCountries{
  /*padding-left: 5px;*/
  padding-top: 5px;
  padding-bottom: 5px;
}

.aboutCountriesList{
  /*color: red;*/
  font-size: 20px;
}

.aboutCountriesSpan{
  color: black;
  font-size: 14px;
}
